@@include('../partials/header.html', {"title": "Index Page"})

@@include('../blocks/banner.html')
@@include('../blocks/video.html')

<!-- Start about Area -->
<section class="about-area pt-100 pb-100">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="story-content">
					<h2>Brief Information <br>
					About <span>CellOn</span></h2>
					<p class="mt-30">Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards – especially in the workplace. <br> <br>
					While men’s borderline-inappropriate behavior is often laughed off as “boys will be boys,”
					</p>
					<a href="#" class="genric-btn primary-border circle arrow">View More<span class="lnr lnr-arrow-right"></span></a>
				</div>
			</div>
			<div class="col-lg-6">
				<img class="img-fluid d-flex mx-auto" src="assets/img/about.png" alt="">
			</div>
		</div>
	</div>
</section>
<!-- End Team Force Area -->
<!-- Start Feature Area -->
<section class="feature-area pt-100 pb-100  relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
				<div class="single-feature">
					<div class="icon">
						<span class="lnr lnr-laptop-phone"></span>
					</div>
					<div class="desc">
						<h2 class="text-uppercase">3 Simple Ways To Save <br> A Bunch Of Money</h2>
						<p>
							Computer users and programmers have become so accustomed to using Windows, even for the changing
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
				<div class="single-feature">
					<div class="icon">
						<span class="lnr lnr-graduation-hat"></span>
					</div>
					<div class="desc">
						<h2 class="text-uppercase">Baby Monitor <br>Learning Technology</h2>
						<p>
							While most people enjoy casino gambling, sports betting, lottery and bingo playing for the fun and excitemen
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
				<div class="single-feature">
					<div class="icon">
						<span class="lnr lnr-phone"></span>
					</div>
					<div class="desc">
						<h2 class="text-uppercase">How Does An Lcd
						<br>Screen Work</h2>
						<p>
							It is a good idea to think of your PC as an office. It stores files, programs, pictures. This can be compared to an actual
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
				<div class="single-feature">
					<div class="icon">
						<span class="lnr lnr-laptop"></span>
					</div>
					<div class="desc">
						<h2 class="text-uppercase">The Skinny On Lcd <br>Monitors</h2>
						<p>
							Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
				<div class="single-feature">
					<div class="icon">
						<span class="lnr lnr-heart"></span>
					</div>
					<div class="desc">
						<h2 class="text-uppercase">For Women Only Your<br>Computer Usage</h2>
						<p>
							About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about.   11% of all
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
				<div class="single-feature">
					<div class="icon">
						<span class="lnr lnr-screen"></span>
					</div>
					<div class="desc">
						<h2 class="text-uppercase">5 Reasons To Purchase<br> Desktop Computers</h2>
						<p>
							So you have your new digital camera and clicking away to glory anything and everything in sight. Now you want to print
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Start Feature Area -->
<!-- Start faq Area -->
<section class="faq-area pt-100 pb-100">
	<div class="container">
		<div class="row">
			<div class="counter-left col-lg-3 col-md-3">
				<div class="single-facts">
					<h2 class="counter">5962</h2>
					<p>Projects Completed</p>
				</div>
				<div class="single-facts">
					<h2 class="counter">2394</h2>
					<p>New Projects</p>
				</div>
				<div class="single-facts">
					<h2 class="counter">1439</h2>
					<p>Tickets Submitted</p>
				</div>
				<div class="single-facts">
					<h2 class="counter">933</h2>
					<p>Cup of Coffee</p>
				</div>
			</div>
			<div class="faq-content col-lg-9 col-md-9">
				<div class="single-faq">
					<h2 class="text-uppercase">
						Are your Templates responsive?
					</h2>
					<p>
						“Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior.
					</p>
				</div>
				<div class="single-faq">
					<h2 class="text-uppercase">
						Does it have all the plugin as mentioned?
					</h2>
					<p>
						“Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior.
					</p>
				</div>
				<div class="single-faq">
					<h2 class="text-uppercase">
						Can i use the these theme for my client?
					</h2>
					<p>
						“Few would argue that, despite the advancements of feminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Start faq Area -->
<!-- Start Conatct- Area -->
<section class="contact-area pt-100 pb-100 relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="single-contact col-lg-6 col-md-8">
				<h2 class="text-white">Send Us <span>Message</span></h2>
				<p class="text-white">
					Most people who work in an office environment, buy computer products.
				</p>
			</div>
		</div>
		<form id="myForm" action="mail.php" method="post" class="contact-form">
			<div class="row justify-content-center">
				<div class="col-lg-5">
					<input name="fname" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mt-20" required="" type="text">
				</div>
				<div class="col-lg-5">
					<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mt-20" required="" type="email">
				</div>
				<div class="col-lg-10">
					<textarea class="common-textarea mt-20" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
			</div>
			<div class="col-lg-10 d-flex justify-content-end">
				<button class="primary-btn white-bg d-inline-flex align-items-center mt-20"><span class="mr-10">Send Message</span><span class="lnr lnr-arrow-right"></span></button> <br>
			</div>
			<div class="alert-msg"></div>
			</div>
		</form>
	</div>
</section>
<!-- End Conatct- Area -->
	
@@include('../partials/footer.html')