<!-- Start Banner Area -->
<section class="banner-area relative">
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-center">
			<div class="banner-left col-lg-6">
				<img class="d-flex mx-auto img-fluid" src="assets/img/header-img.png" alt="">
			</div>
			<div class="col-lg-6">
				<div class="story-content">
					<h6 class="text-uppercase">From the for User interface</h6>
					<h1>Behind Every <span class="sp-1">Success</span><br>
					There is a <span class="sp-2">Cactus</span></h1>
					<a href="#" class="genric-btn primary circle arrow">Get Started<span class="lnr lnr-arrow-right"></span></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->